<form action='/login/attempt' method='post' class="form-inline well">
    <input type="text" class="form-control" name='username' placeholder="enter name" autofocus />
    <input type="text" class="form-control" name='password' placeholder="enter pass" />
    <button class="btn btn-success" type="submit">Log in</button>
</form>